<h1>Pogsts</h1>
<div class="web-description">
    <div class="description-container">
        <h4>What is pogsts?</h4>
        <p>Pogsts is a Posts page developed for a job apply :)</p>
    </div>
    <div class="description-container">
        <h4>What tools have been used in this website?</h4>
        <p>Here, in Pogsts, Angular 18, Bootstrap, css and Fontawesome were used!</p>
    </div>
    <div class="description-container">
        <h4>What can you do in this web?</h4>
        <p>You can search for <a routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/posts">Posts</a> and search posts by its tag</p>
    </div>
    <div class="description-container">
        <h4>What will be changed?</h4>
        <p>We'll be adding a paginator and a search bar!</p>
    </div>
</div>