<h1 class="text-center mt-3 mb-5 text-decoration-underline">Publicaciones</h1>

<div *ngFor="let post of posts" class="posts">
    <div class="post">
        <div class="post-header">
            <div class="author">
                <p class="author-name">
                    <img src="{{post.user.image}}" alt="Image">
                    {{post.user.firstName}} {{post.user.lastName}}
                </p>
            </div>
            <p class="post-title">
                <a routerLink="/post/{{post.id}}">
                    {{post.title}}
                </a>
            </p>
        </div>
        <div class="post-body">
            {{post.body}}
        </div>
        <div class="post-footer">
            <span class="tags" *ngFor="let tag of post.tags">
                <p class="tag">
                    {{tag}}
                </p>
            </span>
            <span class="likes">
                <fa-icon [icon]="faLike"></fa-icon> {{post.reactions.likes}}
            </span>
            <span class="likes">
                <fa-icon [icon]="faDislike"></fa-icon> {{post.reactions.dislikes}}
            </span>
            <span class="views">
                <fa-icon [icon]="faView"></fa-icon> {{post.views}}
            </span>
        </div>
    </div>
</div>