.post {
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.05);;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 25px;
    width: 75%;
}

.post .post-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-header .author {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.author img {
    width: 45px;
}

.author .author-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}

.post-header .post-title {
    color: rgb(55, 55, 55);
    font-size: 22px;
    font-weight: 600;
    width: 100%;
}

.post-body p {
    font-size: 18px;
}

.post .post-footer {
    display: flex;
    flex-direction: column;
}

.post-footer .tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.tags span {
    padding: 5px 20px;
    text-align: end;
    width: 100%;
}

.tags .tag {
    background-color: var(--bs-dark);
    border-radius: 15px;
    font-size: 14px;
    padding: 5px 20px;
    width: auto;
}

.tag:not(:last-of-type) {
    margin-right: 15px;
}

.tag a {
    color: rgb(220, 220, 220);
}

.tag a:hover {
    color: rgb(240, 240, 240);
}

.post-footer .interactions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.interactions .interaction {
    display: flex;
    margin-left: 20px;
    width: auto;
}

.interaction fa-icon {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .post {
        width: 95%;
    }
}